body{
    margin: 0;
    background-color: darkgoldenrod;
}

.rectangulo{
height: 50px;
width: 50px;
background-color: darkmagenta;

}
.flotante{
        background-color: darkslategrey;
        width: 50%;
        height: 100%;
    
    }
    